/* assets/scss/layout.scss */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #002349; /* Dark royal blue */
    color: #ffffff; /* White text for contrast */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    color: #957C3D; /* Gold for headings */
}

header, footer {
    background-color: #002349; /* Dark royal blue */
}

#layout-main {
    padding: 20px;
}
