/* assets/scss/header.scss */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px; }

.logo {
  font-size: 24px;
  color: #957C3D;
  /* Gold */ }

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0; }

nav ul li {
  margin-left: 20px; }

nav ul li a {
  color: #ffffff;
  /* White for links */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; }

nav ul li a:hover {
  color: #957C3D;
  /* Gold on hover */ }
